
body{
    background-color:lightgray !important;
}
.container.main{
    margin-top: 80px !important;
}
.lablename{
  padding-top: 20px;
}
.lablename .col-2 label{
  font-size: 18px;
  font-weight: 600;
}
.form-control:focus{
  box-shadow: none !important;
}
.form-section{
  padding: 20px 0px;
}
.form-section p , .table-data td p{
  color: red;
  padding: 5px;
}
.submit button{
  margin: 20px 0px;
}
.btn:focus{
  box-shadow: none;
}
.btn-primary:focus{
  box-shadow: none;
}
.btn-success:focus , .btn-primary:focus , .btn-danger:focus{
  box-shadow: none;
}
.btn{
  align-self: baseline;
}
.mr-1{
  margin-right: 10px;
}
.mt-40{
  margin-top: 40px;
}
